<?xml version="1.0" encoding="UTF-8"?>
<plugin>

  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.iasegmentadorabdominalview"
          name="IA Segmentador Abdominal"
          class="IASegmentadorAbdominalView"
          icon="resources/icon.xpm" />
  </extension>

</plugin>
